# Node / Next.js frontend
frontend-nextjs/node_modules/
frontend-nextjs/.next/
frontend-nextjs/.env
frontend-nextjs/.env.local
frontend-nextjs/.env.*.local
frontend-nextjs/yarn.lock
frontend-nextjs/.turbo/
frontend-nextjs/coverage/

# Java / Spring Boot backend
**/target/
**/.classpath
**/.project
**/.settings/
**/.mvn/
**/logs/
**/*.log
**/*.tmp
**/*.bak


**/*.local

# IntelliJ IDEA
.idea/
*.iml

# Docker
*.log
*.pid
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Git
.git/

render.yaml